.featured-restaurants{
    display: grid;
    width: 80vw;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    margin-inline: auto;
    row-gap: 1rem;


}




.restaurants-container{
    display: flex;
    width: 100%;
    gap: 1rem;
    justify-content: space-between;
    overflow: auto;
    scrollbar-width: none;
    scroll-snap-type: x mandatory;
    mask-image: linear-gradient(to right, rgb(255, 255, 255) 98%, transparent);
}


@media (max-width: 565px) {
    .featured-restaurants{
        width: 90vw;
    }
}

