main{
    width: 90vw;
    margin-inline: auto;
    display: grid;
    align-items: center;
    justify-content: center;
    justify-items: center;

    grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
    column-gap: clamp(0.5rem, 5vw, 1em);
    row-gap: 2rem;

    
}

h2{
    margin-block: 3rem;
    text-align: center;
}

